
<ul class="nav flex-column ">
  <li class="nav-item"
      routerLinkActive="active">
    <h5>
      <a class="nav-link pb-3"
         style="color: black"
         routerLink="projectList">{{'sideBar.project_list' | translate}} </a>
    </h5>

  </li>
  <li class="nav-item"

      routerLinkActive="active">
    <a class="nav-link"
    >{{'sideBar.new' | translate}}</a>
  </li>
  <li class="nav-item"

      routerLinkActive="active">
    <a class="nav-link"
       style="color: gray"
       routerLink="projectForm">{{'sideBar.project' | translate}}</a>
  </li>
  <li class="nav-item"
      routerLinkActive="active">
    <a class="nav-link"  style="color: gray" routerLink="customer">{{'sideBar.customer' | translate}}</a>
  </li>
  <li class="nav-item"
      routerLinkActive="active">
    <a class="nav-link" style="color: gray" routerLink="supplier">{{'sideBar.supplier' | translate}}</a>
  </li>

</ul>
